.companyCard {
    background-color: rgb(242, 241, 241);
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
    height: 160px;
    padding: 10px;
    border-radius: 5px;
}

.companyP {
    color: black;
    text-shadow: none;
    font-style: italic;
    font-size: smaller;
    background-color: rgb(208, 208, 208);
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 5px;
}

.companyCard a{
    color: rgb(27, 50, 165);
    margin-bottom: 0;
}

.companyCardH5 {
    margin-top: 0;
    margin-left: 5px;
}