nav {
  background-color: rgb(15, 28, 91);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}



nav a  {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.541);
}

nav a.active {
  color: white;
}

.links {
  align-content: flex-start;
  margin-right: auto;
  padding: 10px;
}

.links a {
  margin: 10px;
}

#title {
  font-size: 2rem;
  margin-top: -5px;
  margin-left: 10px;
}

.linkDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.authLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.authLinks a{
  padding: 5px;
}

.logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}